/*
 * Stylesheet file.

 *  @author Alberto Zini
 *  @author Giacomo Rondelli 
 *  @author Giacomo Pazzaglia
 *  @version 1.0
 *  @since 2017.08.01
 */

.root 
{
   -fx-background-image: url("../images/background_game.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-color: white;
}

.scacchiera
{
   -fx-background-image: url("../images/scacchiera.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: 100%;
   -fx-background-position: center;
   -fx-background-color: white;
   -fx-alignment: center;
}

.text{
   -fx-text-fill: white;
}