/*
 * Stylesheet file.

 *  @author Alberto Zini
 *  @author Giacomo Rondelli 
 *  @author Giacomo Pazzaglia
 *  @version 1.0
 *  @since 2017.08.01
 */

.root{
   -fx-background-image: url("../images/backL.jpg");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-background-color: grey;
}

.scacchiera{
   -fx-background-image: url("../images/scacchieraL.png");
   -fx-background-repeat: no-repeat;
   -fx-background-size: 100%;
   -fx-background-position: center;
   -fx-background-color: grey;
   -fx-alignment: center;
}

.text{
   -fx-fill: black;
}