/*
 * Stylesheet file.

 *  @author Alberto Zini
 *  @author Giacomo Rondelli 
 *  @author Giacomo Pazzaglia
 *  @version 1.0
 *  @since 2017.08.01
 */

.giacomoR {
   -fx-background-image: url("../images/image003.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-alignment: center;
   -fx-background-size: 100%;
}

.alby{
   -fx-background-image: url("../images/image001.png");
   -fx-background-repeat: no-repeat;  
   -fx-background-position: center;
   -fx-alignment: center;
   -fx-background-size: 100%;
}

.giacomoP{
   
   -fx-background-image: url("../images/image002.png");
   -fx-background-repeat: no-repeat;
   -fx-background-position: center;
   -fx-alignment: center;
   -fx-background-size: 100%;
   
   
}

.root{
   -fx-background-color: black;
}

.text{
   -fx-fill: white;
}
